<%= simple_form_for(@entry) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :feedback, collection: Entry.feedback_option_list %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
